body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #f3f1e9;
}

.canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.moveable {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: top 1s ease, left 1s ease;
}


.yellow-square {
  width: 25vw;
  height: 25vw;
  background: #f4b400;
  top: 30%;
  left: 30%;
  z-index: 1;
  transform: rotate(-15deg) translate(-50%, -50%);
}


.red-rect {
  width: 10vw;
  height: 30vh;
  background: #d32f2f;
  top: 45%;
  left: 40%;
  z-index: 2;
  transform: rotate(-5deg) translate(-50%, -50%);
}


.blue-rect {
  width: 30vw;
  height: 12vh;
  background: #263238;
  top: 35%;
  left: 52%;
  z-index: 3;
  transform: translate(-50%, -50%);
}


.black-bar {
  width: 1vw;
  height: 40vh;
  background: #000;
  z-index: 4;
}

.bar1 {
  top: 35%;
  left: 58%;
}

.bar2 {
  top: 30%;
  left: 60%;
}


.black-diagonal {
  width: 30vw;
  height: 0.5vh;
  background: black;
  top: 65%;
  left: 45%;
  transform: rotate(-15deg) translate(-50%, -50%);
  z-index: 4;
}


.blue-line {
  width: 6vw;
  height: 0.5vh;
  background: #1a237e;
  z-index: 5;
}

.line1 {
  top: 70%;
  left: 38%;
}

.line2 {
  top: 73%;
  left: 41%;
}

.line3 {
  top: 76%;
  left: 44%;
}

